.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: 1rem;
}

.portfolio-card{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: none;
    padding: 1rem;
    border-radius: 1.25rem;
    background-color: var(--color-surfaceContainer);
}

.action-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 1rem;
}

.portfolio-card-image-section img{
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

@media screen and (max-width: 768px) {
    .portfolio-card{
        flex-direction: column;
    }

    .portfolio-card-image-section{
        order: -1;
    }
}