:root {
    color-scheme: light dark;
    --color-primary: light-dark(#3C6090, #A5C8FF);
    --color-surfaceTint: light-dark(#3C6090, #A5C8FF);
    --color-onPrimary: light-dark(#FFFFFF, #00315E);
    --color-primaryContainer: light-dark(#D4E3FF, #224876);
    --color-onPrimaryContainer: light-dark(#224876, #D4E3FF);
    --color-secondary: light-dark(#246488, #94CDF6);
    --color-onSecondary: light-dark(#FFFFFF, #00344D);
    --color-secondaryContainer: light-dark(#C8E6FF, #004C6D);
    --color-onSecondaryContainer: light-dark(#004C6D, #C8E6FF);
    --color-tertiary: light-dark(#8F4C32, #FFB59A);
    --color-onTertiary: light-dark(#FFFFFF, #552009);
    --color-tertiaryContainer: light-dark(#FFDBCF, #71361E);
    --color-onTertiaryContainer: light-dark(#71361E, #FFDBCF);
    --color-error: light-dark(#BA1A1A, #FFB4AB);
    --color-onError: light-dark(#FFFFFF, #690005);
    --color-errorContainer: light-dark(#FFDAD6, #93000A);
    --color-onErrorContainer: light-dark(#93000A, #FFDAD6);
    --color-background: light-dark(#F9F9FF, #111318);
    --color-onBackground: light-dark(#191C20, #E1E2E9);
    --color-surface: light-dark(#F9F9FF, #111318);
    --color-onSurface: light-dark(#191C20, #E1E2E9);
    --color-surfaceVariant: light-dark(#E0E2EC, #43474E);
    --color-onSurfaceVariant: light-dark(#43474E, #C3C6CF);
    --color-outline: light-dark(#74777F, #8D9199);
    --color-outlineVariant: light-dark(#C3C6CF, #43474E);
    --color-shadow: light-dark(#000000, #000000);
    --color-scrim: light-dark(#000000, #000000);
    --color-inverseSurface: light-dark(#2E3035, #E1E2E9);
    --color-inverseOnSurface: light-dark(#F0F0F7, #2E3035);
    --color-inversePrimary: light-dark(#A5C8FF, #3C6090);
    --color-primaryFixed: light-dark(#D4E3FF, #D4E3FF);
    --color-onPrimaryFixed: light-dark(#001C3A, #001C3A);
    --color-primaryFixedDim: light-dark(#A5C8FF, #A5C8FF);
    --color-onPrimaryFixedVariant: light-dark(#224876, #224876);
    --color-secondaryFixed: light-dark(#C8E6FF, #C8E6FF);
    --color-onSecondaryFixed: light-dark(#001E2E, #001E2E);
    --color-secondaryFixedDim: light-dark(#94CDF6, #94CDF6);
    --color-onSecondaryFixedVariant: light-dark(#004C6D, #004C6D);
    --color-tertiaryFixed: light-dark(#FFDBCF, #FFDBCF);
    --color-onTertiaryFixed: light-dark(#380D00, #380D00);
    --color-tertiaryFixedDim: light-dark(#FFB59A, #FFB59A);
    --color-onTertiaryFixedVariant: light-dark(#71361E, #71361E);
    --color-surfaceDim: light-dark(#D9DAE0, #111318);
    --color-surfaceBright: light-dark(#F9F9FF, #37393E);
    --color-surfaceContainerLowest: light-dark(#FFFFFF, #0C0E13);
    --color-surfaceContainerLow: light-dark(#F3F3FA, #191C20);
    --color-surfaceContainer: light-dark(#EDEDF4, #1D2024);
    --color-surfaceContainerHigh: light-dark(#E7E8EE, #282A2F);
    --color-surfaceContainerHighest: light-dark(#E1E2E9, #32353A);
    --font-display-large: 400 3.5625rem / 4rem Roboto;
    --font-display-medium: 400 2.8125rem / 3.25rem Roboto;
    --font-display-small: 400 2.25rem / 2.75rem Roboto;
    --font-headline-large: 400 2rem/ 2.5rem Roboto;
    --font-headline-medium: 400 1.75rem/ 2.25rem Roboto;
    --font-headline-small: 400 1.5rem/ 2rem Roboto;
    --font-body-large: 400 1rem/ 1.5rem Roboto;
    --font-body-medium: 400 .875rem/ 1.25rem Roboto;
    --font-body-small: 400 0.75rem/ 1rem Roboto;
    --font-label-large: 600 .875rem/ 1.25rem Roboto;
    --font-label-medium: 600 .75rem/ 1rem Roboto;
    --font-label-small: 600 .6875rem/ 1rem Roboto;
    --font-title-large: 400 1.375rem/ 1.75rem Roboto;
    --font-title-medium: 600 1rem/ 1.5rem Roboto;
    --font-title-small: 600 .875rem/ 1.25rem Roboto;
    --font-display-large-tracking: -.015625rem;
    --font-display-medium-tracking: 0rem;
    --font-display-small-tracking: 0rem;
    --font-headline-large-tracking: 0rem;
    --font-headline-medium-tracking: 0rem;
    --font-headline-small-tracking: 0rem;
    --font-body-large-tracking: .03125rem;
    --font-body-medium-tracking: .015625rem;
    --font-body-small-tracking: .025rem;
    --font-label-large-tracking: .00625rem;
    --font-label-medium-tracking: .03125rem;
    --font-label-small-tracking: .03125rem;
    --font-title-large-tracking: 0rem;
    --font-title-medium-tracking: .009375rem;
    --font-title-small-tracking: .00625rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: var(--color-surface);
    color: var(--color-onSurface);
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
    color: var(--color-onSurface);
    background-color: var(--color-background);
    max-width: 100vw;
}

h1 {
    font: var(--font-display-large);
    letter-spacing: var(--font-display-large-tracking);
    width: 100%;
    margin: 0;
    color: var(--color-primary);
    padding: .5rem 1rem;
}

h2 {
    font: var(--font-headline-large);
    letter-spacing: var(--font-headline-large-tracking);
    width: 100%;
    margin: 0;
    padding: .5rem 1rem;
}

h3 {
    font: var(--font-headline-small);
    letter-spacing: var(--font-headline-small-tracking);
    width: 100%;
    margin: 0;
    padding: .5rem 1rem;
}

h4 {
    font: var(--font-title-medium);
    letter-spacing: var(--font-title-medium-tracking);
    width: 100%;
    margin: 0;
    padding: .5rem 1rem;
}

p {
    font: var(--font-body-large);
    letter-spacing: var(--font-body-large-tracking);
    width: 100%;
    margin: 0;
    padding: .5rem 1rem;
}

label{
    font: var(--font-label-large);
    letter-spacing: var(--font-label-large-tracking);
    width: 100%;
    margin: 0;
}

span {
    font: var(--font-label-large);
}

li {
    list-style-type: none;
    font: var(--font-body-large);
    letter-spacing: var(--font-body-large-tracking);
}

code {
    font: var(--font-body-medium);
    letter-spacing: var(--font-body-medium-tracking);
    width: 100%;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: end;
    padding: 1rem;
}

path{
    fill: var(--color-onSurface);
}

.logo {
    width: 3.5rem;
    height: auto;
    margin-right: 1rem;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 2rem;
}

li a{
    color: var(--color-onSurface);
    text-decoration: none;
}

li a:hover{
    color: var(--color-primary);
    text-decoration: underline;
}

button{
    max-width: fit-content;
    position: relative;
    max-height: fit-content;
    border: none;
    border-radius: 1rem;
    padding: .5rem 1rem;
    font: var(--font-label-large);
    letter-spacing: var(--font-label-large-tracking);
    cursor: pointer;
    flex: 1 0 0;
    line-height: 1.5rem;
}

button:hover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: .08;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    pointer-events: none;
}

button a{
    text-decoration: none;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: var(--color-surfaceContainer);
}

input[type="text"],
input[type="email"]{
    padding: 0.5rem;
    border: 1px solid var(--color-outline);
    border-radius: .25rem;
    width: 100%;
    resize: vertical;
}

textarea{
    padding: 0.5rem;
    border: 1px solid var(--color-outline);
    border-radius: .25rem;
    width: 100%;
    resize: vertical;
}

.primary-button{
    background-color: var(--color-primary);
    color: var(--color-onPrimary);
}

.primary-button a{
    color: var(--color-onPrimary);
}

.primary-button:hover::after{
    background-color: var(--color-onPrimary);
}

.tonal-button{
    background-color: var(--color-secondaryContainer);
}

.tonal-button a{
    color: var(--color-onSecondaryContainer);
}

.tonal-button:hover::after{
    background-color: var(--color-onSecondaryContainer);
}

.light {
    color-scheme: light;
}

.dark {
    color-scheme: dark;
}