@media screen and (min-width: 800px) {
    .card{
        width: 100%;
        height: fit-content;
        background-color: var(--color-surfaceContainer);
        border-radius: 1rem;
        box-shadow: 0 1px 10px var(--color-shadow);
    }

    .card h2{
        padding: 0.5rem;
        background-color: var(--color-primary);
        color: var(--color-onPrimary);
        border-radius: 1rem 1rem 0 0;
        text-align: center;
    }
    #data {
        position: absolute;
        top: 10rem;
        left: 2rem;
        width: 100%;
        max-width: 500px;
    }

    #weather {
        position: absolute;
        bottom: 0;
        right: 2rem;
        width: 100%;
        max-width: 500px;
    }
    .icon{
        display: inline;
    }
}