header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    background-color: #2D3135 !important;
    color: #EEF1F6;
    padding: 0 1rem;
}

header p {
    font-size: 1.5rem;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

.album {
    gap: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture {
    margin-bottom: 1rem;
    text-align: left;
    font-size: 1.25rem;
}

.picture img {
    max-width: 100%;
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    background-color: #2D3135;
    color: #EEF1F6;
}

.navigation a {
    display: none;
}

.navigation.open a {
    display: block;
    text-align: center;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #EEF1F6;
    position: relative;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.open a {
    display: flex;
}