body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #000;
    padding: 1rem;
    background: #ccf0ff;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section{
    padding: 1rem;
    background-color: #effeff;
}